.jost-500 {
  font-family: Jost;
  font-weight: 500;
}

.jost-600 {
  font-family: Jost;
  font-weight: 600;
}

.mon-400 {
  font-family: Montserrat;
  font-weight: 400;
}

.mon-500 {
  font-family: Montserrat;
  font-weight: 500;
}

.mon-600 {
  font-family: Montserrat;
  font-weight: 600;
}